{%- extends "page.html" %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ pathto('_static/searchtools.js', 1) }}"></script>
{% endblock %}

{% block extra_head %}
 <script type="text/javascript">
    jQuery(function() { Search.loadIndex("{{ pathto('searchindex.js', 1) }}"); });
 </script>
 {{ super() }}
{% endblock %}

{% block content %}
    <h2>Search</h2>

    {% if search_performed %}
        <p>Searching...</p>
    {% endif %}

{% endblock %}
<noscript>
  <div id="fallback" class="admonition warning">
    <p class="last">
      Please activate JavaScript to enable the search functionality.
    </p>
  </div>
</noscript>

{% block extra_footer %}
    <script type="text/javascript" id="searchindexloader"></script>
{% endblock %}
